---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
    title="About — Jordan's Blog"
    description="A little bit about Jordan."
>
    <article class="post">
        <header class="post-header">
            <h1>About</h1>
        </header>
        <div class="post-body">
            <p>
                Hi, I'm Jordan. I'm a software developer from the United States.
            </p>
            <p>
                I like making things, playing games, and tinkering with old
                internet software. If you're a human, I'd be happy to chat.
            </p>
            <p>
                You can find my other just-for-fun site as well as links to my
                projects <a href="https://github.com/jordanfuzz/blog">here</a>.
            </p>
        </div>
    </article>
</BaseLayout>
