---
const year = new Date().getFullYear()
---

<footer>
    <div class="container">
        <span>&copy; {year} CooperPlanet</span>
        <a href="https://gloogo.io/" target="_blank" rel="noopener"
            ><img
                src="https://gloogo.io/images/gloogo.gif"
                alt="gloogo.io"
                width="88"
                height="31"
                style="image-rendering: pixelated;"
            /></a
        >
        <a href="/rss.xml">RSS Feed</a>
    </div>
</footer>
